data/raw/C1_Phenotype_Data_V2.csv
data/raw/C2_Phenotype_Data_V2.csv
data/raw/environmental_features.csv
data/raw/genotypes/
data/processed/

#sample data is committed

outputs/

__pycache__/
*.py[cod]
.venv/
*.egg-info/
.ipynb_checkpoints/

#if using R
.Rhistory
.RData
renv/library/

#OS
.DS_Store
Thumbs.db

#secrets
.env